* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

/* HERE STARTS THE CSS RELATED TO HEADER AND HERO*/

.first-background {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: 70%;
  margin-bottom: 50px;
}

.img-logo {
  height: 60px;
  width: 150px;
}

.link-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: orange;
  font-weight: 600;
  font-size: 20px;
}

.hero {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  gap: 15px;
}

.hero-text {
  color: orange;
  width: 300px;
}

.hero-text .hero-bigger {
  font-size: 35px;
  font-weight: 900;
}

.hero-text .hero-smaller {
  color: white;
}

.hero-button {
  background-color: orange;
  font-weight: 700;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 25px;
  margin-top: 15px;
}

.hero-img {
  height: 200px;
  width: 400px;
}

.hero-img,
.hero-text {
  flex-shrink: 0;
}

/* HERE FINISHES THE CSS RELATED TO HEADER AND HERO */

/* HERE STARTS THE SECOND BACKGROUND CSS */

.second-background {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 35px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 70%;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.info-paragraph {
  font-size: 30px;
  font-weight: 700;
}

.info-card img {
  border: 1px solid black;
  border-radius: 10px;
  height: 150px;
  width: 200px;
}

.info-card p {
  text-align: center;
  width: 200px;
}

/* HERE FINISHES THE SECOND BACKGROUND CSS */

/* HERE FINISHES THE THIRD BACKGROUND CSS */

.third-background {
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  width: 100%;
}

.third-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.quote-text {
  font-style: italic;
  font-size: 25px;
}

.third-content .quote-owner {
  align-self: flex-end;
}

/* HERE FINISHES THE THIRD BACKGROUND CSS */

/* HERE STARTS THE FOURTH BACKGROUND CSS */

.fourth-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.call-to-action {
  display: flex;
  background-color: black;
  border-radius: 5px;
  padding: 25px 50px;
  color: white;
  width: 70%;
  margin: 50px 0;
  justify-content: space-around;
  align-items: center;
}

.call-to-action-text {
  width: 60%;
}

.call-to-action-title {
  font-weight: 900;
  font-size: 25px;
  margin-bottom: 5px;
}

.call-to-action-button {
  padding: 5px 25px;
  background-color: orange;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  border-radius: 2px;
}
/* HERE FINISHES THE FOURTH BACKGROUND CSS */
